name: Deploy To GitHub Pages

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  deploy:
    runs-on: ubuntu-22.04
    permissions:  # 쓰기 권한 설정
      contents: write
    concurrency:  # github action 충돌 방지
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/checkout@v3

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
              version: 8
              run_install: false

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
              node-version: '18'
              cache: 'pnpm'

      - name: Package Install
        run: pnpm install
      
      - run: yarn build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build  # 빌드 결과물 배포